button {
  &:hover {
    background-color: lighten(green, 5%);
    cursor: pointer;
    cursor: hand;

  }
  	 
 
  height: 100px;
  width: 100px;
  background-color: #0080ff;
  color: white;
  text-align:center;
  line-height:50px;
  border-radius: 30px;
}